
body{
    font-family: 'Times New Roman';
}

h1{
    text-align: center;
}

header{
    
    background-color: #E6E6E6;
}

.fechas{
    font-weight: bold;
}

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.titulo{
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 84.69%;
    letter-spacing: 10px;
    background-color: #C4C4C4;
    color: #005677;
}

.subtitulo{
    font-size: 20px;
    line-height: 84.69%;
}

/*.rrssIcon{

}*/

footer{
    text-align: center;
    background-color: #005677;
    color: white; 

    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 84.69%;
}